
.icon-angle-circled-up:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-ok-circled:before { content: '\e805'; } /* '' */
.icon-ok-circled2:before { content: '\e806'; } /* '' */
.icon-ok-squared:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-cancel-circled2:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-plus-circled:before { content: '\e80c'; } /* '' */
.icon-plus-squared:before { content: '\e80d'; } /* '' */
.icon-plus-squared-alt:before { content: '\e80e'; } /* '' */
.icon-help:before { content: '\e80f'; } /* '' */
.icon-help-circled:before { content: '\e810'; } /* '' */
.icon-info-circled:before { content: '\e811'; } /* '' */
.icon-info:before { content: '\e812'; } /* '' */
.icon-link:before { content: '\e813'; } /* '' */
.icon-download-cloud:before { content: '\e814'; } /* '' */
.icon-upload-cloud:before { content: '\e815'; } /* '' */
.icon-comment:before { content: '\e816'; } /* '' */
.icon-chat:before { content: '\e817'; } /* '' */
.icon-comment-empty:before { content: '\e818'; } /* '' */
.icon-chat-empty:before { content: '\e819'; } /* '' */
.icon-bell:before { content: '\e81a'; } /* '' */
.icon-bell-alt:before { content: '\e81b'; } /* '' */
.icon-trash:before { content: '\e81c'; } /* '' */
.icon-trash-empty:before { content: '\e81d'; } /* '' */
.icon-headphones:before { content: '\e81e'; } /* '' */
.icon-angle-circled-left:before { content: '\e81f'; } /* '' */
.icon-angle-circled-right:before { content: '\e820'; } /* '' */
.icon-angle-circled-down:before { content: '\e821'; } /* '' */
.icon-desktop:before { content: '\e822'; } /* '' */
.icon-laptop:before { content: '\e823'; } /* '' */
.icon-tablet:before { content: '\e824'; } /* '' */
.icon-mobile:before { content: '\e825'; } /* '' */
.icon-calc:before { content: '\e826'; } /* '' */
.icon-wechat:before { content: '\e827'; } /* '' */
.icon-weibo:before { content: '\e828'; } /* '' */
.icon-bank:before { content: '\e829'; } /* '' */
.icon-qq:before { content: '\e82a'; } /* '' */
.icon-cog:before { content: '\e82b'; } /* '' */
.icon-cog-alt:before { content: '\e82c'; } /* '' */
.icon-wrench:before { content: '\e82d'; } /* '' */
.icon-calendar:before { content: '\e82e'; } /* '' */
.icon-down-open:before { content: '\e82f'; } /* '' */
.icon-left-open:before { content: '\e830'; } /* '' */
.icon-right-open:before { content: '\e831'; } /* '' */
.icon-up-open:before { content: '\e832'; } /* '' */
.icon-angle-left:before { content: '\e833'; } /* '' */
.icon-angle-right:before { content: '\e834'; } /* '' */
.icon-angle-up:before { content: '\e835'; } /* '' */
.icon-angle-down:before { content: '\e836'; } /* '' */
.icon-gift:before { content: '\e837'; } /* '' */
.icon-credit-card:before { content: '\e838'; } /* '' */
.icon-yen:before { content: '\e839'; } /* '' */
.icon-database:before { content: '\e83a'; } /* '' */
.icon-android:before { content: '\e83b'; } /* '' */
.icon-apple:before { content: '\e83c'; } /* '' */
.icon-chart-bar:before { content: '\e83d'; } /* '' */
.icon-chart-pie:before { content: '\e83e'; } /* '' */
.icon-qrcode:before { content: '\e83f'; } /* '' */
.icon-paper-plane:before { content: '\e840'; } /* '' */
.icon-inbox:before { content: '\e841'; } /* '' */